<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Catalog site for placing orders</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarColor01" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Product")">Products <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Order")">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Customer")">Customer</a>
            </li>
        </ul>
    </div>
</nav>

<br/>
<div class="container body-content">
    @RenderBody()
    <br/>
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - DeliverNow Online</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>