@model ProductOrderSite.Models.ProductOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.Customer.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Customer.LastName)
        </dd>

        <dt>
            Products
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Products.First().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Products.First().Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Products.First().Price)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                    </tr>
                }
            </table>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.DeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.DeliveryDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Order.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>